#ClockedInList {
    margin-top: 1rem;

    .container {
        background-color: white;
        border-radius: 4px;
        padding: .25rem 1rem;
    }

    ul {
        list-style: none;
        padding: 0;
        border-radius: 4px;
        border: solid 2px rgba(183, 183, 183, 0.60);
    }

    ul li {
        padding: .25rem .5rem;
    }

    ul li:nth-child(odd){
        background-color: rgba(209, 209, 208, 0.60);
    }
}
